<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="url1" value="http://mt1.google.cn/vt?pb=!1m4!1m3!1i@Z!2i@X!3i@Y!2m3!1e0!2sm!3i323000000!3m9!2szh-Hans-CN!3sCN!5e78!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0"/>
    <add key="url2" value="http://mt0.google.cn/vt?lyrs=s@186&amp;hl=zh-Hans-CN&amp;gl=HK&amp;x=@X&amp;y=@Y&amp;z=@Z"/>
    <add key="url3" value="http://mt0.google.cn/vt?pb=!1m5!1m4!1i@Z!2i@X!3i@Y!4i256!2m3!1e0!2sm!3i325000000!3m9!2szh-Hans-CN!3sCN!5e78!12m1!1e50!12m3!1e37!2m1!1ssmartmaps!4e0"/>
    <add key="url4" value="http://mt1.google.cn/vt?pb=!1m5!1m4!1i@Z!2i@X!3i@Y!4i256!2m3!1e4!2st!3i132!2m3!1e0!2sr!3i325150060!3m9!2szh-Hans-CN!3sCN!5e78!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0"/>
    <add key="savepath" value="D:/temp/googlepic"/>
  </appSettings>
</configuration>
